@media only  screen and (max-width:768px) {
    .nav .fa-bars{
        display: block;
    }
    .nav a{
        display: none;
    }
    .nav .fa-search{
        display: none;
    }
    .our img{
        width: 80%;
    }
    .our .img img{
        width: 25%;
        height: 10%;
    }
}