#header{
    width: 100%;
    height: 100vh;
    background-image: url(/img/banner2.jpg);
    background-size: 100% 100%;
}
a{
    text-decoration: none;
    color: black;
}
#header h2{
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
#header button{
    padding: 10px 15px;
    margin-top: 1rem;
    border-radius: 30px;
}
.about .row .col img{
    display: block;
    margin: 0 auto;
}
.about{
    width: 100%;
    background-image: url(/img/plan_bg.png);
}
.row{
    text-align: center;
}
.col h4{
    transition: all 0.5s linear;
}
.col button{
    width: 50%;
    margin: 0 auto;
}
.col button:hover{
    background-color: darkred;
}
.our{
    background-image: url(/img/about_bg.jpg);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our .row .col{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our .row .col button{
    display: inline;
    text-align: left;
}
.col img{
    position: relative;
}
.blog .img p{
    position: absolute;
     top: 100%;
     right: 14px;
     z-index: 999999;
     background: rgb(142, 86, 95);
     padding: 15px 27px;
     font-weight: bold;
     color: white;
     font-size: 20px;
     
}
.rings{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1 10px rgb(72, 71, 71);
    margin-bottom: -4rem;
    background-color: white;
    margin-bottom: 1rem;
}
.nav .fa-bars{
    display: none;
}
@media only  screen and (max-width:768px) {
    .nav .fa-bars{
        display: block;
    }
    .nav a{
        display: none;
    }
    .nav .fa-search{
        display: none;
    }
}